body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* logging */
.log {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  text-align: left;
  font-size: 70%;
  white-space: pre-wrap;
}
.log a {
  text-decoration: solid;
  color: inherit;
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #c4c6ff;
}
.log pre {
  white-space: pre;
  display: inline;
  font-family: inherit;
}
.log p {
  margin: 0;
}
.log progress[value] {
  width: 40%;
}
